<div class="title-container"><img class="flag"src="{{flags.svg}}" alt="{{name.official}}" width="40"/>
      <p class="title">{{name.official}}</p></div>
      <p class="capital">Capital: <span>{{capital}}</span></p>
      <p class="population">Population: <span>{{population}}</span></p>
      <p class="languages">Languages: <span>{{#each languages}}{{this}} {{/each}}</span></p>